<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Degital services in real state</title>
</head>
<body>
    <div class="loader"></div>
    <!-- header section starts -->
    <header class="header" dir="rtl">
        <a href="index.html" class="logo">تصفح <span>خدماتنا</span></a>
        <nav class="navbar">
            <a href="index.html">الرئيسية</a>
            <a href="about.html" class="active">المزيد عنا</a>
            <a href="services.html">خدماتنا</a>
            <a href="contact.html">تواصل معنا</a>
        </nav>
        <div class="icons" dir="rtl">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="info-btn" class="fas fa-info-circle"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="login-btn" class="fas fa-user"></div>
        </div>
        <!-- login form starts -->
        <form action="" class="login-form" dir="rtl">
            <h3>تسجيل الدخول</h3>
            <input type="email" placeholder="الايميل الالكترونى" class="box">
            <input type="password" placeholder="ادخل كلمة المرور" class="box">
            <div class="flex">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">تذكر كلمة المرور</label>
                <a href="#">نسبت كلمة المرور?</a>
            </div>
            <input type="submit" value="تسجيل الدخول" class="btn">
            <p>لا تمتلك حساب <a href="#" id="new-user">سجل حساب جديد!</a></p>    
        </form>
        <!-- login form ends -->
        <form action="" class="register-form" dir="rtl">
            <h3>تسجيل حساب جديد</h3>
            <input type="text" placeholder="الاسم ثلاثى" class="box">
            <input type="email" placeholder="الايميل الالكترونى" class="box">
            <input type="password" placeholder="ادخل كلمة المرور" class="box">
            <input type="password" placeholder="تاكيد  كلمة المرور" class="box">
            <input type="submit" value="تسجيل حساب" class="btn">
            <p>امتلك حساب <a href="#" id="login-now">سجل حساب !</a></p>    
        </form>
    <!-- search form starts -->
    <form action="" id="search-form" dir="rtl">
        <input type="search" id="search-box" placeholder="ابحث عن الخدمات هنا...">
        <label for="search-box" class="fas fa-search"></label>
    </form>
    <!-- search form ends -->
    <!-- scroll up button -->
    <div class="scroll-up">
        <i class="fas fa-arrow-up"></i>
    </div>
    <div class="scroll-indicator"></div>
    </header>
    <!-- header section ends -->
    <!-- contact section starts -->
    <div class="contact-info" dir="rtl">
        <h3 class="heading">ارقام الطوارئ<i class="fas fa-phone"></i></h3>
        <div class="info">
            <i class="fas fa-truck-medical"></i>
            <h3>الاسعاف</h3>
            <p>123</p>
        </div>
        <div class="info">
            <i class="fas fa-truck-medical"></i>
            <h3>المطافى</h3>
            <p>123</p>
        </div>
        <div class="info">
            <i class="fas fa-bolt"></i>
            <h3>الكهرباء</h3>
            <p>121</p>
        </div>
        <div class="info">
            <i class="fas fa-gas-pump"></i>
            <h3>الغاز</h3>
            <p>126</p>
        </div>
        <div id="close-btn" class="fas fa-times"></div>
    </div>
    <section class="heading-link"  dir="rtl">
        <h3>المزيد</h3>
        <p><a href="../../../index.html">الرئيسية</a>/المزيد</p>
    </section>
    <!-- contact section ends -->
    <section class="about-elec" dir="rtl">
        <div class="image">
            <img src="images/a3e2d6c9-1784-469e-98d6-44dc1067184c.jpg" alt="">
        </div>
        <div class="content">
            <h3>المزيد عن خدمة الكهرباء!</h3>
            <p>تعد خدمات الكهرباء ضرورية للحياة الحديثة ، حيث توفر الطاقة للمنازل والشركات والصناعات. وتشمل هذه الخدمات توزيع ونقل الكهرباء من محطات الطاقة إلى المستخدمين النهائيين ، وكذلك صيانة وإصلاح البنية التحتية الكهربائية. تشمل الخدمات الكهربائية أيضًا تركيب وإصلاح وصيانة المعدات الكهربائية ، مثل الألواح والعدادات والمولدات والمحولات. علاوة على ذلك ، تدعم الخدمات الكهربائية تطوير مصادر الطاقة المتجددة ، مثل الطاقة الشمسية وطاقة الرياح ، والتي يمكن أن تساعد في تقليل انبعاثات غازات الاحتباس الحراري وتعزيز ممارسات الطاقة المستدامة. بشكل عام ، تعتبر خدمات الكهرباء ضرورية لتشغيل حياتنا اليومية ودفع النمو الاقتصادي والابتكار.
            </p>
            <a href="services.html" class="btn">تصفح الخدمة</a>
        </div>
    </section>
    <section class="about-gas" dir="rtl">
        <div class="content" data-aos="fade-left" data-aos-offset="100" data-aos-duration="800">
            <h3>المزيد عن خدمة الغاز الطبيعى!</h3>
            <p>الغاز الطبيعي هو مصدر طاقة أساسي يستخدم لمجموعة متنوعة من الأغراض. بالإضافة إلى تزويد المنازل بالطاقة ، فإنه يستخدم أيضًا على نطاق واسع في قطاع التصنيع للتدفئة والتبريد ومواد المعالجة. علاوة على ذلك ، يتم استخدام الغاز الطبيعي بشكل شائع كوقود للنقل بسبب انبعاثاته المنخفضة وكفاءته العالية.</p>
            <p>من أهم فوائد الغاز الطبيعي تنوعه. يمكن استخدامه لمجموعة واسعة من الخدمات ، بما في ذلك التدفئة والطهي وتوليد الكهرباء. يعد الغاز الطبيعي مصدرًا موثوقًا للطاقة يوفر تدفئة وطاقة متسقة للمنازل والشركات.</p>
            <p>ميزة أخرى لخدمات الغاز الطبيعي هي فوائدها الاقتصادية. بسبب وفرة العرض والقدرة النسبية على تحمل التكاليف ، أصبح الغاز الطبيعي يتمتع بشعبية متزايدة في السنوات الأخيرة. بالإضافة إلى ذلك ، يقدم مزودو الغاز الطبيعي خطط تسعير وحوافز متنوعة لمساعدة المستهلكين على توفير المال على فواتير الطاقة الخاصة بهم.</p>
            <p>أخيرًا ، الغاز الطبيعي هو أيضًا خيار طاقة صديق للبيئة. ينتج انبعاثات ضارة أقل من الوقود الأحفوري التقليدي مثل الفحم أو النفط ، مما يجعله بديلاً أنظف لمصادر الطاقة الأخرى. بالإضافة إلى ذلك ، جعلت الابتكارات في تكنولوجيا استخراج الغاز الطبيعي ونقله العملية أكثر أمانًا واستدامة بمرور الوقت.</p>
            <a href="services.html" class="btn">تصفح الخدمة</a>
        </div>
        <div class="image" data-aos="fade-right" data-aos-offset="100" data-aos-duration="800">
            <img src="images/340f7ec7-de21-4f49-99d9-c03a686de9b5.jpg" alt="">
        </div>
    </section>
    <section class="about-water" dir="rtl">
        <div class="image" data-aos="fade-right" data-aos-offset="100" data-aos-duration="800">
            <img src="images/WhatsApp Image 2023-03-05 at 23.36.25.jpg" alt="">
        </div>
        <div class="content" data-aos="fade-left" data-aos-offset="100" data-aos-duration="800">
            <h3>المزيد عن خدمة المياه!</h3>
            <p>تعتبر خدمات المياه ضرورية للمجتمع لأنها توفر مياه نظيفة وآمنة وموثوقة للشرب والطبخ والغسيل والاحتياجات المنزلية الأخرى. تتناول هذه الخدمات أيضًا معالجة مياه الصرف الصحي وإعادة استخدام المياه وحماية النظم البيئية الطبيعية وضمان الصحة العامة. بالإضافة إلى الاحتياجات المنزلية ، تعتبر خدمات المياه ضرورية للزراعة والصناعة وإنتاج الطاقة.</p>
            <p>تعد الإدارة المستدامة لموارد المياه أمرًا بالغ الأهمية لضمان توفير خدمات المياه بطريقة موثوقة وفعالة ، خاصة في المناطق التي تعاني من ندرة المياه أو البنية التحتية المحدودة. تستثمر الحكومات والهيئات الخاصة بكثافة في خدمات المياه للحفاظ على جودة المياه وتحسينها ، وتعزيز الحفاظ عليها وتطوير حلول مبتكرة لتعزيز الوصول إلى المياه للجميع.</p>
            <a href="services.html" class="btn">تصفح الخدمة</a>
        </div>
    </section>
    <section class="about-build" dir="rtl">
        <div class="content">
            <h3>المزيد عن خدمات البناء !</h3>
            <p>لمباني هي الهياكل الأساسية التي توفر المأوى والأمن والراحة لشاغليها. ومع ذلك ، تتطلب المباني أيضًا مجموعة متنوعة من الخدمات للتأكد من أنها وظيفية وفعالة.</p>
            <p>تشير خدمات البناء إلى الأنظمة والمعدات التي تمكن المباني من العمل بأمان واستدامة وموثوقية. وتشمل هذه الخدمات التدفئة والتهوية وتكييف الهواء والطاقة الكهربائية والإضاءة والسباكة والصرف والحماية من الحرائق والأمن والاتصالات. تنظم أنظمة HVAC درجة الحرارة والرطوبة وجودة الهواء في المباني ، مما يضمن بيئة مريحة وصحية للركاب.</p>
            <p>توفر الأنظمة الكهربائية الطاقة للإضاءة والأجهزة والمعدات ، بينما توفر أنظمة السباكة والصرف المياه وتزيل النفايات. تشمل أنظمة الحماية من الحرائق أجهزة كشف الدخان والرشاشات وأجهزة الإنذار لمنع الحرائق وإخمادها. أنظمة الأمن مثل التحكم في الوصول والمراقبة بالفيديو تحمي المباني وشاغليها من السرقة والتخريب. تمكّن أنظمة الاتصالات بما في ذلك الهاتف والإنترنت والشبكات اللاسلكية الأشخاص من الاتصال والتعاون داخل المبنى وخارجه. باختصار ، تعتبر خدمات البناء بالغة الأهمية في ضمان السلامة والأداء الوظيفي والجودة الشاملة للمباني</p>
            <a href="services.html" class="btn">تصفح الخدمة</a>
        </div>
        <div class="image">
            <img src="images/WhatsApp Image 2023-03-05 at 23.47.33.jpg" alt="">
        </div>
    </section>
    <!-- footer section starts -->
    <section class="footer" dir="rtl">
        <div class="box-container">
            <div class="box">
                <a href="#" class="logo">تصفح <span>خدماتنا</span></a>
                <p>نقدم لكم افضل الخدمات</p>
                <div class="share">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="index.html" class="link">الرئيسية</a>
                <a href="about.html" class="link">المزيد عنا</a>
                <a href="services.html" class="link">خدماتنا</a>
                <a href="contact.html" class="link">تواصل معنا</a>
            </div>

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="#" class="link">مركز المساعدة</a>
                <a href="#" class="link">اسال اسئلة</a>
                <a href="#" class="link">ارسل رأيك</a>
                <a href="#" class="link">سياسة خاصة</a>
                <a href="#" class="link">شروط الاستخدام</a>
            </div>
            <div class="box">
                <h3>اشترك</h3>
                <p>اشترك للحصول على أحدث التحديثات</p>
                <form action="">
                    <input type="email" placeholder="ادخل الايميل الالكترونى" class="email">
                    <input type="submit" value="اشترك" class="btn">
                </form>
            </div>
        </div>
    </section>
    <!-- footer section ends -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>