{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Degital services in real state</title>
</head>
<body>
    <div class="loader"></div>
    <!-- header section starts -->
    <header class="header" dir="rtl">
        <a href="{%url 'index'%}" class="logo">تصفح <span>خدماتنا</span></a>
        <nav class="navbar">
            <a href="{% url 'index' %}" class="link">الرئيسية</a>
<a href="{% url 'services' %}" class="link">خدماتنا</a>
<a href="{% url 'contact' %}" class="link">تواصل معنا</a>
<a href="{% url 'about' %}" class="link">المزيد عنا</a>

        </nav>
        <div class="icons" dir="rtl">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="info-btn" class="fas fa-info-circle"></div>
            <div id="search-btn" class="fas fa-search"></div>
            <div id="login-btn" class="fas fa-user"></div>
        </div>
        <!-- login form starts -->
        <form action="" class="login-form" dir="rtl">
            <h3>تسجيل الدخول</h3>
            <input type="email" placeholder="الايميل الالكترونى" class="box">
            <input type="password" placeholder="ادخل كلمة المرور" class="box">
            <div class="flex">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">تذكر كلمة المرور</label>
                <a href="#">نسبت كلمة المرور?</a>
            </div>
            <input type="submit" value="تسجيل الدخول" class="btn">
            <p>لا تمتلك حساب <a href="#" id="new-user">سجل حساب جديد!</a></p>    
        </form>
        <!-- login form ends -->
        <form action="" class="register-form" dir="rtl">
            <h3>تسجيل حساب جديد</h3>
            <input type="text" placeholder="الاسم ثلاثى" class="box">
            <input type="email" placeholder="الايميل الالكترونى" class="box">
            <input type="password" placeholder="ادخل كلمة المرور" class="box">
            <input type="password" placeholder="تاكيد  كلمة المرور" class="box">
            <input type="submit" value="تسجيل حساب" class="btn">
            <p>امتلك حساب <a href="#" id="login-now">سجل حساب !</a></p>    
        </form>
    <!-- search form starts -->
    <form action="" id="search-form" dir="rtl">
        <input type="search" id="search-box" placeholder="ابحث عن الخدمات هنا...">
        <label for="search-box" class="fas fa-search"></label>
    </form>
    <!-- search form ends -->
    <!-- scroll up button -->
    <div class="scroll-up">
        <i class="fas fa-arrow-up"></i>
    </div>
    <div class="scroll-indicator"></div>
    </header>
    <!-- header section ends -->
    <!-- contact section starts -->
    <div class="contact-info" dir="rtl">
        <h3 class="heading">ارقام الطوارئ<i class="fas fa-phone"></i></h3>
        <div class="info">
            <i class="fas fa-truck-medical"></i>
            <h3>الاسعاف</h3>
            <p>123</p>
        </div>
        <div class="info">
            <i class="fas fa-truck-medical"></i>
            <h3>المطافى</h3>
            <p>123</p>
        </div>
        <div class="info">
            <i class="fas fa-bolt"></i>
            <h3>الكهرباء</h3>
            <p>121</p>
        </div>
        <div class="info">
            <i class="fas fa-gas-pump"></i>
            <h3>الغاز</h3>
            <p>126</p>
        </div>
        <div id="close-btn" class="fas fa-times"></div>
    </div>
    <section class="heading-link"  dir="rtl">
        <h3>المزيد</h3>
        <p><a href="{%url 'index'%}">الرئيسية</a>/الخدمات</p>
    </section>
    <!-- contact section ends -->
    <!-- services section starts -->
    <section class="tabs" dir="rtl">
        <div class="container">
            <div class="wrapper">
                <ul class="indicator">
                    <li class="active" data-target="#home"><i class="fas fa-bolt"></i> خدمة الكهرباء</li>
                    <li data-target="#profile"><i class="fas fa-gas-pump"></i> خدمة الغاز</li>
                    <li data-target="#contact"><i class="fas fa-glass-water"></i> خدمة المياه</li>
                    <li data-target="#settings"><i class="fas fa-house"></i> خدمة البناء</li>
                </ul>
                <ul class="content">
                    <li class="active" id="home">
                        <div class="box-container active">
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/1253826_0.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تقديم على عداد كهرباء</h3>
                                    <p>تقدر تقدم على عداد من خلال البطاقة القومية فقط</p>
                                    <a href="{% url 'form2' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/20200426104443023.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>ادخال قراءة عداد كهرباء</h3>
                                    <p>سهولة ادخال قراءة عداد بيتك بنفسك كل شهر</p>
                                    <a href="{% url 'form1' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/ajJEqYcqOGMJ4cJUB6tG0VPy7lZK8pvP4Mg8jkrA.png'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تحصيل فواتير كهرباء</h3>
                                <p>تقدر تعرف سعر فاتورتك وتدفعها من خلال فورى اونلاين</p>
                                <a href="{% url 'form3' %}" class="btn">المزيد</a>
                            </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/images.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>معرفة شروط التقديم</h3>
                                <p>تقدر تعرف كل شئ عن خدماتنا قبل الاشتراك</p>
                                <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/maxresdefault.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3> خطوات التسجيل</h3>
                                    <p>تقدر تعرف خطوات التسجيل واسعار الخدمات </p>
                                    <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="profile">
                        <div class="box-container">
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/gas-img/pt35946589-propane_lpg_gas_hose_pipe_dn13_ss304_pvc_fibre_reinforced_hose.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تقديم على عداد غاز</h3>
                                    <p>تقدر تقدم على عداد من خلال البطاقة القومية فقط</p>
                                    <a href="{%url 'form6'%}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/gas-img/istockphoto-627871386-612x612.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>ادخال قراءة عداد غاز</h3>
                                    <p>سهولة ادخال قراءة عداد بيتك بنفسك كل شهر</p>
                                    <a href="{% url 'form7' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/gas-img/images.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تحصيل فواتير الغاز</h3>
                                <p>تقدر تعرف سعر فاتورتك وتدفعها من خلال فورى اونلاين</p>
                                <a href="{% url 'form8' %}" class="btn">المزيد</a>
                            </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/images.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>معرفة شروط التقديم</h3>
                                <p>تقدر تعرف كل شئ عن خدماتنا قبل الاشتراك</p>
                                <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/maxresdefault.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3> خطوات التسجيل</h3>
                                    <p>تقدر تعرف خطوات التسجيل واسعار الخدمات </p>
                                    <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="contact">
                        <div class="box-container" >
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/1253826_0.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تقديم على عداد المياه</h3>
                                    <p>تقدر تقدم على عداد من خلال البطاقة القومية فقط</p>
                                    <a href="{% url 'form9' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/20200426104443023.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>ادخال قراءة عداد المياه</h3>
                                    <p>سهولة ادخال قراءة عداد بيتك بنفسك كل شهر</p>
                                    <a href="{% url 'form10' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/ajJEqYcqOGMJ4cJUB6tG0VPy7lZK8pvP4Mg8jkrA.png'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تحصيل فواتير</h3>
                                <p>تقدر تعرف سعر فاتورتك وتدفعها من خلال فورى اونلاين</p>
                                <a href="{% url 'form11' %}" class="btn">المزيد</a>
                            </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/images.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>معرفة شروط التقديم</h3>
                                <p>تقدر تعرف كل شئ عن خدماتنا قبل الاشتراك</p>
                                <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/maxresdefault.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3> خطوات التسجيل</h3>
                                    <p>تقدر تعرف خطوات التسجيل واسعار الخدمات </p>
                                    <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="settings">
                        <div class="box-container" >
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/1253826_0.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تراخيص البناء</h3>
                                    <p>تقدر تقدم على  رخصه بناء</p>
                                    <a href="{% url 'form12' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/uu.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>تصالح البناء</h3>
                                    <p>سهوله استخراج اوراق التصالح</p>
                                    <a href="{% url 'form13' %}" class="btn">المزيد</a>
                                </div>
                            </div>
                        
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/images.jpeg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3>معرفة شروط التقديم</h3>
                                <p>تقدر تعرف كل شئ عن خدماتنا قبل الاشتراك</p>
                                <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                            <div class="box">
                                <div class="image">
                                    <img src="{%static 'images/elec-img/maxresdefault.jpg'%}" alt="">
                                </div>
                                <div class="content">
                                    <h3> خطوات التسجيل</h3>
                                    <p>تقدر تعرف خطوات التسجيل واسعار الخدمات </p>
                                    <a href="#" class="btn">المزيد</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- services section ends -->
    <!-- footer section starts -->
    <section class="footer" dir="rtl">
        <div class="box-container">
            <div class="box">
                <a href="#" class="logo">تصفح <span>خدماتنا</span></a>
                <p>نقدم لكم افضل الخدمات</p>
                <div class="share">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="{% url 'index' %}" class="link">الرئيسية</a>
                <a href="{% url 'about' %}" class="link">المزيد عنا</a>
                <a href="{% url 'services' %}" class="link">خدماتنا</a>
                <a href="{% url 'contact' %}" class="link">تواصل معنا</a>
            </div>

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="" class="link">مركز المساعدة</a>
                <a href="" class="link">اسال اسئلة</a>
                <a href="" class="link">ارسل رأيك</a>
                <a href="" class="link">سياسة خاصة</a>
                <a href="" class="link">شروط الاستخدام</a>
            </div>
            <div class="box">
                <h3>اشترك</h3>
                <p>اشترك للحصول على أحدث التحديثات</p>
                <form action="">
                    <input type="email" placeholder="ادخل الايميل الالكترونى" class="email">
                    <input type="submit" value="اشترك" class="btn">
                </form>
            </div>
        </div>
    </section>
    <!-- footer section ends -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{%static 'js/script.js'%}"></script>
</body>
</html>