<!DOCTYPE html>
<html>
<head>
	<title>تقديم علي عداد غاز</title>
	<link rel="stylesheet" type="text/css" href="css/form6.css">
</head>
<body>
        <div class="container">
			<form action="/submit-gas-counter-request" method="post">
				<div>
				  <label for="full-name" >اسم مقدم الطلب :  </label>
				  <input type="text" id="full-name" name="full-name" required>
				</div>
				<div>
				  <label for="national-id">رقم بطاقة الرقم القومي : </label>
				  <input type="text" id="national-id" name="national-id" required>
				</div>
				<div>
				  <label for="national-id-image"> صورة بطاقة الرقم القومي :</label>
				  <input type="file" id="national-id-image" name="national-id-image" required>
				</div>
				<div>
				  <label for="property-contract-image">صورة عقد الملكية :</label>
				  <input type="file" id="property-contract-image" name="property-contract-image" required>
				</div>
				<div>
				  <label for="electricity-receipt-image">صورة ايصال كهرباء حديث :</label>
				  <input type="file" id="electricity-receipt-image" name="electricity-receipt-image" required>
				</div>
				<div>
				  <label for="property-image">ايصال موافقة الشركة المصرية القابضة للغاز :</label>
				  <input type="file" id="property-image" name="property-image" required>
				</div>
				<div>
				  <label for="facility-type">نوع المنشأ:</label>
				  <select id="facility-type" name="facility-type" required>
					<option value="">-- برجاء تحديد المنشأ--</option>
					<option value="Apartment">شقة سكنية</option>
					<option value="Villa">فيلا</option>
					<option value="Townhouse">مجمع سكني</option>
					<option value="Office">مكتب </option>
					<option value="Warehouse">مستودع</option>
				  </select>
				</div>
				<button type="submit">تقديم الطلب</button>
			  </form>


		</div>

	

</body>
</html>