{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>The Natural Gas Services Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/dashgaz2.css' %}">
</head>

<body>
    <header>
        <h1>Gaz Services Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </nav>
    </header>
    <section class="overview">
        <h2>Overview</h2>
        <div class="card">
            <h3>Total Customers</h3>
        </div>
        <div class="card">
            <h3>Total rejected</h3>
        </div>
        <div class="card">
            <h3>Total accepted</h3>
        </div>
        <div class="card">
            <h3>Total under revision</h3>
        </div>
    </section>
    <section class="customers">
        <h2>Customers</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>National ID</th>
                    <th>Last Read Counter</th>
                    <th>Date</th>
                    <th>New Read Counter</th>
                    <th>Picture</th>
                    <th>Building Type</th>
                </tr>
            </thead>
            <tbody>
                {% for natural_gas_reading in natural_gas_reading %}
                <tr>
                    <td>{{ natural_gas_reading.id }}</td>
                    <td>{{ natural_gas_reading.name }}</td>
                    <td>{{ natural_gas_reading.national_identity_card_number }}</td>
                    <td>{{ natural_gas_reading.last_reading }}</td>
                    <td>{{ natural_gas_reading.last_reading_date }}</td>
                    <td>{{ natural_gas_reading.current_reading }}</td>
                    <td>
                        <!-- Display Picture -->
                        <img src="{{ natural_gas_reading.counter_image.url }}" alt="Picture">
                    </td>
                    <td>{{ natural_gas_reading.origin_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <footer>
        <p>&copy; 2023 Gaz Services Inc.</p>
    </footer>
</body>

</html>