<!DOCTYPE html>
<html>
<head>
	<title>Electrical Services Dashboard</title>
	<link rel="stylesheet" type="text/css" href="dashwater2.css">
</head>
<body>
	<header>
		<h1>Water Services Dashboard</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">Reports</a></li>
			</ul>
		</nav>
	</header>
	<section class="overview">
		<h2>Overview</h2>
		<div class="card">
			<h3>Total Customers</h3>
			
		</div>
		<div class="card">
			<h3>Total rejecte</h3>
		
		</div>
		<div class="card">
			<h3>Total accept</h3>
			
		</div>
		<div class="card">
			<h3>Total under revision</h3>
		
		</div>
		
	</section>
	<section class="customers">
		<h2>Customers</h2>
		<table>
			<thead>
				<tr>
                    <th>id</th>
					<th>Name</th>
                    <th>national id</th>
					<th> last read counter</th>
                    <th>Date</th>
                    <th> New read counter</th>
					<th>picture</th>
					<th>Building type</th>
				</tr>
			</thead>
		</table>
	</section>
	<footer>
		<p>&copy; 2023 Water Services Inc.</p>
	</footer>
</body>
</html>