{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Electrical Services Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/dashbuild1.css' %}">
</head>
<body>
    <header>
        <h1>Building Services Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </nav>
    </header>
    <section class="overview">
        <h2>Overview</h2>
        <div class="card">
            <h3>Total Customers</h3>
        </div>
        <div class="card">
            <h3>Total rejected</h3>
        </div>
        <div class="card">
            <h3>Total accepted</h3>
        </div>
        <div class="card">
            <h3>Total under revision</h3>
        </div>
    </section>
    <section class="customers">
        <h2>Customers</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>National ID</th>
                    <th>Address</th>
                    <th>The number of the agricultural basin to which it belongs</th>
                    <th>Phone</th>
                    <th>Picture1</th>
            
                </tr>
            </thead>
            <tbody>
                {% for building_application in building_applications %}
                <tr>
                    <td>{{ building_application.id }}</td>
                    <td>{{ building_application.name }}</td>
                    <td>{{ building_application.national_identity_card_number }}</td>
                    <td>{{ building_application.space }}</td>
                    <td>{{ building_application.agricultural_basin_number }}</td>
                    <td>{{ building_application.phone_number }}</td>
                    <td>
                        <!-- Display Picture1 -->
                        <img src="{{ building_application.national_identity_card_photo.url }}" alt="Picture1">
                    </td>
      
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <footer>
        <p>&copy; 2023 Building Services Inc.</p>
    </footer>
</body>
</html>
