<!DOCTYPE html>
<html>
<head>
	<title>Water Services Dashboard</title>
	<link rel="stylesheet" type="text/css" href="dashwater1.css">
</head>
<body>
	<header>
		<h1>water Services Dashboard</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">Reports</a></li>
			</ul>
		</nav>
	</header>
	<section class="overview">
		<h2>Overview</h2>
		<div class="card">
			<h3>Total Customers</h3>
	
		</div>
		<div class="card">
			<h3>Total rejecte</h3>
	
		</div>
		<div class="card">
			<h3>Total accept</h3>
			
		</div>
		<div class="card">
			<h3>Total under revision</h3>
			
		</div>
		
	</section>
	<section class="customers">
		<h2>Customers</h2>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>National id</th>
                    <th>address</th>
					<th>District number</th>
					<th>City</th>
					<th>Picture1</th>
					<th>Picture2</th>
					<th>picture3</th>
					<th>picture4</th>
					<th>Order status</th>
				</tr>
			</thead>
		</table>
	</section>
	<footer>
		<p>&copy; 2023 water Services Inc.</p>
	</footer>
</body>
</html>