{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Water Services Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/dashwater1.css' %}">
</head>

<body>
    <header>
        <h1>Water Services Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </nav>
    </header>
    <section class="overview">
        <h2>Overview</h2>
        <div class="card">
            <h3>Total Customers</h3>
        </div>
        <div class="card">
            <h3>Total rejected</h3>
        </div>
        <div class="card">
            <h3>Total accepted</h3>
        </div>
        <div class="card">
            <h3>Total under revision</h3>
        </div>
    </section>
    <section class="customers">
        <h2>Customers</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>National id</th>
                    <th>District number</th>
                    <th>Picture1</th>
                    <th>Picture2</th>
                    <th>Picture3</th>
                    <th>Picture4</th>
                </tr>
            </thead>
            <tbody>
                {% for water_meter_entry in water_meter %}
                <tr>
                    <td>{{ water_meter_entry.id }}</td>
                    <td>{{ water_meter_entry.name }}</td>
                    <td>{{ water_meter_entry.national_identity_card_number }}</td>
                    <td>{{ water_meter_entry.district_number }}</td>
                    <td>
                        <!-- Display picture 1 -->
                        <img src="{{ water_meter_entry.national_identity_card_photo.url }}" alt="Picture 1">
                    </td>
                    <td>
                        <!-- Display picture 2 -->
                        <img src="{{ water_meter_entry.copy_of_the_ownership_contract.url }}" alt="Picture 2">
                    </td>
                    <td>
                        <!-- Display picture 3 -->
                        <img src="{{ water_meter_entry.builging_license.url }}" alt="Picture 3">
                    </td>
                    <td>
                        <!-- Display picture 4 -->
                        <img src="{{ water_meter_entry.house_measurement.url }}" alt="Picture 4">
                    </td>
                    <td>{{ water_meter_entry.order_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <footer>
        <p>&copy; 2023 Water Services Inc.</p>
    </footer>
</body>

</html>