<!DOCTYPE html>
<html>
<head>
	<title>Electrical Services Dashboard</title>
	<link rel="stylesheet" type="text/css" href="dashbuild1.css">
</head>
<body>
	<header>
		<h1>Building Services Dashboard</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Customers</a></li>
				<li><a href="#">Reports</a></li>
			</ul>
		</nav>
	</header>
	<section class="overview">
		<h2>Overview</h2>
		<div class="card">
			<h3>Total Customers</h3>
	
		</div>
		<div class="card">
			<h3>Total rejecte</h3>
	
		</div>
		<div class="card">
			<h3>Total accept</h3>
			
		</div>
		<div class="card">
			<h3>Total under revision</h3>
			
		</div>
		
	</section>
	<section class="customers">
		<h2>Customers</h2>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>National id</th>
					<th>Address</th>
					<th>The number of the agricultural basin to which it belongs</th>
					<th>Phone</th>
					<th>City</th>
					<th>Picture1</th>
                    <th>longitude</th>
                    <th>Latitude</th>
				</tr>
			</thead>
		</table>
	</section>
	<footer>
		<p>&copy; 2023 Building Services Inc.</p>
	</footer>
</body>
</html>