<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="water.css">
    <title>water services</title>
</head>
<body>
    <header>
        <h1>water Dashboard</h1>
    </header>
    <nav>
        <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">water</a></li>
        <li><a href="#">Users</a></li>
        </ul>
    </nav>
    </main>
    <section>
        <h2>Submit a counter request</h2>
        <p>Manage your services here.</p>
        <strong class="services-title">
            <a href="dashwater1.html" class="more-details">More</a>
        </strong>
      </section>
      <section>
        <h2>Enter the water meter reading</h2>
        <p>Manage your services here.</p>
        <strong class="services-title">
            <a href="dashwater2.html" class="more-details">More</a>
        </strong>
      </section>
      <section>
        <h2>Collecting water bills</h2>
        <p>Manage your services here.</p>
        <strong class="services-title">
            <a href="dashwater3.html" class="more-details">More</a>
        </strong>
      </section>

    
</body>
</html>