{%load static%}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/form3.css'%}">
    <title>Document</title>
</head>
  <body>  
  
<div class="container">    
      <h2 class="title">دفع الفواتير</h2><br/> 
        <form action="" method="post">  
          {% csrf_token %}
          {{ form.as_p }}

    <div class="ng">
        <div class="form-row2">
            <div class="label-1">
                <label for="name">كود السداد الإلكتروني*</label><br/>    
                <input   type="tel" name="number" id="" placeholder=" كود السداد الإلكتروني ">
               </div> 
          
               <div>
         <label for="text" >: الشركه</label><br/>     
         <select id="address" name="company">
            <option value="شمال القاهره">شمال القاهره</option>
            <option value="جنوب القاهره">جنوب القاهره</option>
            <option value="جنوب الدلتا">جنوب الدلتا</option>
            <option value="شمال الدلتا">شمال الدلتا</option>
            <option value="القناه">القناه</option>
            <option value=" مصر العليا">مصر العليا</option>
            <option value="البحيره">البحيره</option>
            <option value="اسكندريه">اسكندريه</option>
         </select> 
               </div>  
               
</div>


<div class="address">
    <label for="name">: تعليقات</label><br/>    
   
    <input  class="add" type="text" name="comments" id="الاسم" placeholder="  تعليقات "/><br>
   </div>

   <div>
    <button class="but"> دفع الفاتورة</button>
   </div>
</div>
        </form>
    </div>
    <script src="{%static 'main.js'%}"></script>
  </body>