<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>    طلبات تراخيص المباني</title>
	<link rel="stylesheet" type="text/css" href="css/form12.css">
</head>
<body>
	<body>
		<div class="container">
			<h1>تحصيل طلبات الترخيص للمبني</h1>
		<form>
		  <div>
			<label for="name">اسم مقدم الطلب:</label>
			<input type="text" id="name" name="name" required>
		  </div>
		  <div>
			<label for="national-id">الرقم القومي:</label>
			<input type="text" id="national-id" name="national-id" required>
		  </div>
		  <div>
			<label for="meter-image"> صورة بطاقة الرقم القومي لمن يصدر الترخيص باسمه : </label>
			<input type="file" id="meter-image" name="meter-image" accept="image/*" required>
		  </div>
		  <div>
			<label for="meter-number">رقم الحوض الزراعي التابع اليه  :</label>
			<input type="text" id="meter-number" name="meter-number" required>
		  </div>
		  <div>
			<label for="meter-image"> المستندات الدالة بملكية الارض  : </label>
			<input type="file" id="meter-image" name="meter-image" accept="image/*" required>
		  </div>
		  <div>
			<label for="governorate-number">رقم تليفون مقدم الطلب :</label>
			<input type="text" id="governorate-number" name="governorate-number" required>
		  </div>
		  <div>
			<label for="last-reading-image">صورة   الموافقة من الحي الزراعي التابع اليه:</label>
			<input type="file" id="last-reading-image" name="last-reading-image" accept="image/*" required>
		  </div>

		  <div>
			<label for="last-reading-image">    عدد 3 نسخ من موافقة المكتب الهندسي  </label>
			<input type="file" id="last-reading-image" name="last-reading-image" accept="image/*" required>
		  </div>
		  <div>
			<label for="governorate-number">تحديد المساحة المراد البناء عليها  بالتفصيل  :     </label>
			<input type="text" id="governorate-number" name="governorate-number" required>
			
		  </div>

		  
		  <div>
			<button type="submit">تقديم الطلب</button>
		  </div>
		</form>

		</div>
		
	  </body>
	  </html>