{%extends "_base.html"%}
{% load crispy_forms_tags %}
{%block title%}Log in{%endblock title%}
<!-- overriding the title of the _base.html -->
{%block content%}
{%if user.is_authenticated%}
<h2 align='center'>You cant't access the page you are already loged in </h2>
<h4 align='center'>Welcome {{user.username}} if you want to log out please <a href="{%url 'account_logout'%}">click
        here </a>
</h4>
{%else%}
<h2 align="center">يرجي تسجيل الدخول من هنا</h2>
<form method="POST">
    {%csrf_token%}
    {{form|crispy}}
    <button class="btn btn-success" type="submit">سجل الدخول الآن</button>
</form>
{%endif%}
{%endblock content%}