<html>
<head>{{room.name}} </head>

<body>
    <h1>lets Chat</h1>
    <form id="form">
        <input type = "text" name = "message"/>

    </form>
    <div id="messages">

    </div>
    <script>
        let url = `ws://${window.location.host}/ws/{{room.name}}/`;
        const chatSocket = new WebSocket(url);
        
        // ...
        
        chatSocket.onopen = function(e) {
            console.log('WebSocket connection established');
        }
        
        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log('WebSocket message received:', data);
            if (data.type === 'chat') {
                let messages = document.getElementById('messages');
                messages.insertAdjacentHTML('beforeend', `
                    <div>
                        <p>${data.message}</p>
                    </div>
                `);
            }
        }
        
        // ...
        
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            let message = e.target.message.value;
            chatSocket.send(JSON.stringify({
                'type': 'chat',
                'message': message
            }));
            form.reset();
        });
        

    </script>
    
</body>
</html>